.box {
  display: flex;
  flex-flow: column nowrap;
  justify-self: center;
  align-self: center;
  row-gap: var(--spacing_sm);

  text-align: center;

  min-width: 280px;
  max-width: 320px;
  border-radius: var(--border_radius_xxl);
  background-color: white;
  padding: var(--spacing_ml);
}

.box__header {
  display: grid;
  grid-auto-flow: column;

  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  text-align: center;
  font-size: var(--font-size_xl);
  color: var(--color_charcoal-100);
  font-weight: 600;
  line-height: 1;
}
