.counter {
  display: grid;
  grid-template-areas: "Icon Count";
  column-gap: 0.4rem;
  align-items: center;
  color: white;
}

.counter__icon {
  pointer-events: none;
}

.counter__number {
}

.counter_disabled {
  visibility: hidden;
}
