.profile-form__save-btn {
  align-self: flex-end;
  justify-self: flex-end;
}

.profile-form__profile-pic {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--spacing_sm);
}

.profile-form__user-photo {
  fill: var(--color_charcoal-30);
  width: auto;
  height: 2.8rem;
  min-width: 2.8rem;
}
