.chat-controls {
  display: grid;
  grid-template-areas: "heartBtn form";
  grid-template-columns: auto 1fr;
  align-items: center;

  width: 100%;
  height: 4rem;
  background-color: white;
  border-radius: 0 0 var(--border_radius_xxl);
}

.chat-controls__form {
  z-index: var(--zindex-fixed);

  grid-area: form;
  display: grid;
  grid-template-areas: ". textarea sendBtn";
  grid-template-columns: 0 1fr auto;

  width: 100%;
}

.chat-controls__input {
  grid-area: textarea;

  width: 100%;
  padding: 0.2rem 0 0.2rem 0;
  border: 0;
  background-color: white;

  line-height: var(--line-height_md);
  color: var(--color_charcoal-100);
}
.chat-controls__input:focus {
  outline: none;
}

/*
 * Send message button
 */

/* enable ':hover' only on non-touch devices */

@media (hover: hover) and (pointer: fine) {
  .chat-controls__send-btn:hover .chat-controls__send-btn-icon {
    fill: white;
  }
}

.chat-controls__send-btn {
  grid-area: sendBtn;
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  border-radius: 100000px;
  padding: auto 1rem;
  margin: 0;
  padding: 0.3rem var(--spacing_sm) 0.2rem var(--spacing_sm);

  cursor: pointer;
}

.chat-controls__send-btn-icon {
  width: 1.8em;
  height: 1.8rem;
  padding: 0;
  margin: 0;

  fill: #d4aa00;

  transition:
    fill 0.2s ease,
    background-color 0.2s ease;
}

/* enable ':hover' only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .chat-controls__send-btn:hover .chat-controls__send-btn-icon {
    fill: #d4aa00;
  }
}

.chat-controls__send-btn:hover .chat-controls__send-btn-icon {
  fill: #aa8800;
}
.chat-controls__send-btn:visited .chat-controls__send-btn-icon,
.chat-controls__send-btn:focus .chat-controls__send-btn-icon {
  fill: #d4aa00;
}
.chat-controls__send-btn .chat-controls__send-btn-icon:active {
  fill: #d4aa00;
}
