.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 100%;
  border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
  background-color: white;
  padding: 0.85rem var(--spacing_sm);
}

.nav__tabs {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_sm);
}

.nav__tab {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: var(--spacing_xs);

  padding: 0.4rem 0.6rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem var(--color_charcoal-40);

  font-size: var(--font-size_sm);
  letter-spacing: 0.3px;
  color: var(--color_charcoal-70);
}

.nav__count {
  border-radius: 0.6rem;

  color: var(--color_charcoal-70);
}
