.scheduled-event {
  display: grid;
  grid-template-areas:
    "Start"
    "Line"
    "End";

  text-align: center;

  padding: 1rem 0.8rem;
  background-color: var(--color_brand_gray-60);
  border-radius: var(--border_radius_xxl);
  padding: 1rem;
}

.scheduled-event__start {
  grid-area: Start;
  color: var(--color_gray-lighten);
}

.scheduled-event__end {
  grid-area: End;
  color: var(--color_gray);
}
