/* Layout */

.chat-page__stream {
  transform: translate(0, -1.9rem);
}
@media (max-width: 620px) {
  .chat-page__stream {
    transform: translate(0, 0.5rem);
  }
}

.chat-page__nav {
  z-index: 10;

  /* compensate the empty space left by 'transform: translate' : */
  margin-bottom: -3rem;

  transform: translate(0, -3rem);
}
@media (max-width: 620px) {
  .chat-page__nav {
    transform: translate(0, -0.8rem);
  }
}

.chat-page__main-content {
  grid-row: 4 / 5;
  overflow: auto;
}
@media (max-width: 620px) {
  .chat-page__main-content {
    padding-top: 2.2rem;
  }
}

.chat-page__controls {
  grid-row: 5 / 6;
}

/* */

.chat-page__join-chat-btn {
  grid-row: 5 / 6;
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_xs);
  align-items: center;
  justify-content: center;

  padding: var(--spacing_xs) var(--spacing_sm);
  border-radius: 0;
  height: 5rem;

  font-weight: 600;
}

.chat-page__join-chat-btn-icon {
  height: 1.2rem;
  width: auto;
}

/* automatically scroll to bottom : */
.scroll-to {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 0;
  visibility: hidden;
}
