.chat-page {
  /*  height: 100%;*/
}

/* Layout */

.chat-page__stream {
  transform: translate(0, -1.9rem);
}
@media (max-width: 620px) {
  .chat-page__stream {
    transform: translate(0, 0.5rem);
  }
}

.chat-page__nav {
  z-index: 10;

  /* compensate the empty space left by 'transform: translate' : */
  margin-bottom: -3rem;

  transform: translate(0, -3rem);
}
@media (max-width: 620px) {
  .chat-page__chat-nav {
    transform: translate(0, -0.8rem);
  }
}

.chat-page__chat {
  grid-row: 4 / 5;
  overflow: auto;

  background-color: white;

  /*
  height: auto;
  display: grid;
  row-gap: var(--spacing_xs);
  border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
  justify-items: flex-start;
  max-height: 100%;*/
}
@media (max-width: 620px) {
  /*.chat-page__chat {
    height: calc(100% - var(--spacing_xxl) - 1rem);
  }*/
}

.chat-page__controls {
  grid-row: 5 / 6;
}

/* Automatically scroll to bottom */

.scroll-to {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 0;
  visibility: hidden;
}
