.events-page {
  display: grid;
  align-content: flex-start;
  padding-bottom: 1rem;
}

.events-page__timezone {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  justify-self: center;

  background-color: gold;
  text-align: center;
  color: black;
  font-weight: bold;
  border-radius: var(--border_radius_xxl);
}
