.landing-page {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;

  width: 100%;
  max-width: var(--max-width_m);
  height: 100%;
  padding: var(--spacing_xxl) var(--spacing_xs) var(--spacing_xl)
    var(--spacing_xs);
  background-color: white;
}

.landing-page__nav {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.5rem;
}

.landing-page__col {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  align-content: flex-start;
  align-items: flex-start;

  height: 100%;
}

.landing-page__number {
  display: inline-flex;
  align-items: center;
  column-gap: 0.7rem;

  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color_charcoal-100);
}

.landing-page__number h1 {
  line-height: 1;
}

.landing-page__icon {
  width: auto;
  height: 2.7rem;
  fill: var(--color_charcoal-100);
}

.landing-page__block {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;

  max-width: 100%;
  padding: 2rem;
  border-radius: var(--border_radius_xxl);
}

.landing-page__one {
  background: #ffeee9;
  background: linear-gradient(
    90deg,
    rgba(255, 238, 233, 1) 0%,
    rgba(255, 238, 255, 1) 50%
  );
}

.landing-page__two {
  background: #ffe9ff;
  background: linear-gradient(
    90deg,
    rgba(255, 233, 255, 1) 0%,
    rgba(221, 232, 255, 1) 100%
  );
}

.landing-page__three {
  background: #dde8ff;
  background: linear-gradient(
    90deg,
    rgba(221, 232, 255, 1) 0%,
    rgba(208, 255, 209, 1) 100%
  );
}

.landing-page__four {
  background: #d0ffd1;
  background: linear-gradient(
    90deg,
    rgba(208, 255, 209, 1) 0%,
    rgba(255, 254, 218, 1) 100%
  );
}

.landing-page__note {
  font-size: var(--font-size_sm);
}

/*
 *
 */

.download-box {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;

  margin-top: 1rem;
}

.download-box__item {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.8rem;
  align-items: center;

  padding: 0.8rem;
  background-color: white;
  width: 6rem;
  height: 6rem;
  max-width: 30%;
  border-radius: var(--border_radius_m);
  border: 1px solid transparent;

  font-weight: 600;
  text-decoration: none;
  color: var(--color_charcoal-70);
}
.download-box__item:visited {
  color: var(--color_charcoal-70);
}
.download-box__item:hover {
  color: var(--color_charcoal-100);
  text-decoration: none;
  box-shadow: 0 0 1rem white;
}
.download-box__item:focus {
  color: var(--color_charcoal-100);
  text-decoration: none;
  outline: none;
}
.download-box__item:active {
  color: var(--color_charcoal-100);
}

.download-box__icon {
  width: auto;
  max-height: 100%;
  height: 3rem;
}
