.page {
  position: relative;
  /* to cut the not rounded corners of nested containers : */
  overflow: hidden;

  display: grid;
  grid-template: auto 1fr;
  row-gap: 1rem;

  width: 100%;
  max-width: var(--max-width_m);
  border-radius: var(--border_radius_xxl);
  background-color: white;
  padding: var(--spacing_xs) var(--spacing_sm) var(--spacing_sm)
    var(--spacing_sm);
}

@media (max-width: 620px) {
  .page {
    height: auto; /*calc(100% - var(--navbar-h));*/
    border-radius: 0 0 var(--border_radius_xxl) var(--border_radius_xxl);
    padding: var(--spacing_sm) 12px var(--spacing_sm) 12px;
  }
}
