.message {
  border-radius: var(--border_radius_xxl);
  padding: var(--spacing_sm) var(--spacing_m);
  border-radius: var(--border_radius_m);
  margin: var(--spacing_sm) var(--spacing_sm);
  padding: var(--spacing_sm);

  font-size: var(--font-size_root);
}

.message_success {
  color: var(--color_success);
  background-color: var(--color_green-10);
}

.message_info {
  color: var(--color_info);
}

.message_warning {
  color: var(--color_danger);

  border: 1px solid var(--color_red-20);
}
