.stream-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  height: 7rem;
  background-color: var(--color_black-80);
  border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
  padding: var(--spacing_xs) var(--spacing_sm) var(--spacing_ml)
    var(--spacing_sm);
}
@media (max-width: 620px) {
  .stream-bar {
    border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
  }
}

.stream-bar__counters {
  display: flex;
  flex-flow: column wrap;
  column-gap: 1rem;
  justify-content: flex-end;
}

.stream-bar__player {
  display: grid;
  grid-template-areas: "Controls Time";
  column-gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.stream-bar__timer {
  overflow: hidden;
}
