.popup {
  position: absolute;
  top: 4rem;
  right: var(--spacing_xs);
  z-index: var(--zindex-dropdown);

  display: none;

  opacity: 0;
}

.popup_open {
  display: block;
  border-radius: var(--border_radius_xxl);
  box-shadow: 0 0 1rem var(--color_charcoal-20);
  background-color: white;

  animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
