.chat-msg {
  display: grid;
  grid-template-areas:
    "avatar header header"
    "avatar body   controls";
  grid-template-columns: auto 1fr auto;
  align-items: flex-start;
  column-gap: 0.6rem;

  border-radius: var(--border_radius_xxl);
  background-color: var(--color_gray-darkest);
  padding: 0 var(--spacing_sm) 0 var(--spacing_sm);
}

.chat-msg__avatar {
  grid-area: avatar;
  align-self: flex-start;

  height: 2.1rem;
  width: auto;
}

.chat-msg__header {
  grid-area: header;
  display: grid;
  justify-content: space-between;
  justify-content: flex-start;

  font-weight: 600;
}

.chat-msg__controls {
  grid-area: controls;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.7rem;
  justify-self: flex-end;

  padding-top: 0.3rem;
}

.chat-msg__body {
  overflow: hidden;

  grid-area: body;

  font-weight: normal;
  color: var(--color_gray-lighten);
}
