.msgs-list {
  position: relative;
  overflow: auto;

  display: flex;
  row-gap: 0.5rem;

  padding-bottom: var(--spacing_xs);
  background-color: white;
}

/* automatically scroll to bottom : */
.scroll-to {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 0;
  visibility: hidden;
}
