.streams-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  border-radius: var(--border_radius_xxl);
  /*padding-top: var(--spacing_sm);*/
  background-color: white;
}

.streams-list__box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: var(--max-width_m);

  border-radius: var(--border_radius_xxl);

  background-color: white;
}
@media (max-width: 620px) {
  .streams-list__box {
    border-radius: 0;
  }
}

.streams-list__empty-icon {
  height: auto;
  width: 8rem;
  fill: var(--color_charcoal-30);
  align-items: center;
}

.streams-list__empty-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_sm);
  max-width: 15rem;
  justify-self: center;
  align-self: center;
  align-items: center;
  text-align: center;

  color: var(--color_charcoal-50);
  padding: var(--spacing_l) 0;
}

.streams-list__header-box {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_m);

  padding: 0 var(--spacing_sm) var(--spacing_sm) var(--spacing_sm);
}

.streams-list__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.streams-list__header_padded {
  padding: var(--spacing_m) var(--spacing_sm);
}

.streams-list__counter {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.7rem;
  border-radius: var(--border_radius_xxl);
  color: white;
  font-weight: 600;
  font-size: var(--font-size_lg);
  background-color: var(--color_charcoal-40);
}
