.play-toggle-btn {
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.play-toggle-btn__icon {
  height: 100%;
  width: 100%;

  fill: white;
}

.play-toggle-btn_disabled {
  display: none;
}
