.play-toggle-btn {
  display: flex;
  align-items: center;

  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  cursor: pointer;
}

.play-toggle-btn__icon {
  height: 100%;
  width: 100%;

  fill: white;

  transition:
    fill 0.2s ease,
    background-color 0.2s ease;
}

.play-toggle-btn_disabled .play-toggle-btn__icon {
  fill: var(--color_charcoal-60);
}
