.user-meta {
  overflow: hidden;
}

.user-meta__btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  color: var(--color_gray-light);
  border: none;
  border-bottom: 1px solid var(--color_gray_darken);
  padding: 0.8rem 0.8rem;
  text-align: left;

  .user-meta__btn:hover,
  .user-meta__btn:focus,
  .user-meta__btn:active {
    background-color: var(--color_gray-darkest);
  }
}

.user-meta__details {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.8rem 0.8rem;

  border-bottom: 1px solid var(--color_gray_darken);
}

.user-meta__details-row {
  display: grid;
  grid-template-areas: "Key Value";
  grid-template-columns: 5rem auto;
  justify-content: space-between;
}

.user-meta__key {
  color: var(--color_gray-dark);
}

.user-meta__value {
  color: var(--color_gray-light);
}
