.my-settings-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing_xl) 0 var(--spacing_sm) 0;

  background-color: var(--color_charcoal-10);
  width: 100%;
  height: 100%;

  margin-top: var(--spacing_xxs);
}

@media (max-width: 620px) {
  .my-settings-layout {
    padding-top: var(--spacing_l);
  }
}
