.chat {
  /* without this there is no scrollbar in chat */
  overflow: hidden;

  display: grid;
  grid-template: auto 1fr / 1fr;
  grid-template-areas:
    "messageslist"
    "chatControls";

  background-color: white;
}

.chat__content {
  overflow: auto;

  grid-area: messageslist;
  grid-row: 1 / 2;
  /* Center error-messages : */
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
}

.chat__controls {
  grid-row: 2 / 3;
  grid-area: chatControls;

  border-radius: 0 0 var(--border_radius_xxl) var(--border_radius_xxl);
  align-self: flex-end;

  box-shadow: 0 -5px 5px var(--color_charcoal-10);
  z-index: 10;
}
@media (max-width: 620px) {
  .chat__controls {
    border-radius: 0;
  }
}

/* */

.chat__join-chat-btn {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_xs);
  align-items: center;
  justify-content: center;

  padding: var(--spacing_xs) var(--spacing_sm);
  border-radius: 0;
  height: 5rem;
  box-shadow: 0 -5px 5px var(--color_red-20);

  font-weight: 600;
}

.chat__join-chat-btn-icon {
  height: 1.2rem;
  width: auto;
}

/* automatically scroll to bottom : */
.scroll-to {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 0;
  visibility: hidden;
}
