.chat-controls {
  display: grid;
  grid-template-areas: "heartBtn form";
  grid-template-columns: auto 1fr;
  width: 100%;
  align-items: center;
  height: 4rem;
  background-color: white;
  border-top: 1px solid var(--color_charcoal-20);
}

.chat-controls__form {
  z-index: var(--zindex-fixed);

  grid-area: form;
  display: grid;
  grid-template-areas: ". textarea sendBtn";
  grid-template-columns: 0 1fr auto;
  width: 100%;
}

.chat-controls__input {
  grid-area: textarea;
  width: 100%;
  padding: 0.2rem 0 0.2rem 0;
  line-height: var(--line-height_md);
  color: var(--color_charcoal-100);

  border: 0;
  background-color: white;
}
.chat-controls__input:focus {
  outline: none;
}

/*
 * Send message button
 */

/* enable ':hover' only on non-touch devices */

@media (hover: hover) and (pointer: fine) {
  .chat-controls__send-btn:hover .chat-controls__send-btn-icon {
    fill: white;
  }
}

.chat-controls__send-btn {
  grid-area: sendBtn;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 15px solid red;
  background: transparent;
  border: none;
  border-radius: 100000px;
  padding: auto 1rem;
  margin: 0;
  cursor: pointer;
  padding: 0.3rem var(--spacing_sm) 0.2rem var(--spacing_sm);
}

.chat-controls__send-btn-icon {
  width: 1.8em;
  height: 1.8rem;
  padding: 0;
  margin: 0;

  fill: #d4aa00;
}

/* enable ':hover' only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .chat-controls__send-btn:hover .chat-controls__send-btn-icon {
    fill: #d4aa00;
  }
}

.chat-controls__send-btn:hover .chat-controls__send-btn-icon {
  fill: #aa8800;
}
.chat-controls__send-btn:visited .chat-controls__send-btn-icon,
.chat-controls__send-btn:focus .chat-controls__send-btn-icon {
  fill: #d4aa00;
}
.chat-controls__send-btn .chat-controls__send-btn-icon:active {
  fill: #d4aa00;
}
