.heart-btn {
  display: flex;
  align-items: center;

  border: none;
  padding: 0.3rem var(--spacing_sm) 0.2rem var(--spacing_sm);
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  /*transition: background-color 1s ease-out;*/
  height: 100%;
  align-self: flex-start;
}

.heart-btn_disabled {
  cursor: none;
  pointer-events: none;
}

.heart-btn_disabled .heart-btn__icon {
  fill: var(--color_charcoal-30);
  cursor: none;
  pointer-events: none;
}

/* enable ':hover' only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .heart-btn:hover .heart-btn__icon {
    fill: red;
  }
}

.heart-btn__icon {
  width: auto;
  height: 2rem;

  padding: 0;
  margin: 0;
  background: none;
  fill: #aa0500;
}

.heart-btn:active {
  fill: #aa0500;
}
