.chat-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.chat-icon-btn__text {
  color: var(--color_gray-light);
}

.chat-icon-btn__icon {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.1rem 0.2rem 0.2rem 0.2rem;
  margin: 0;

  background: none;

  fill: var(--color_gray-dark);

  .chat-icon-btn__icon_active {
    fill: white;
  }

  .chat-icon-btn__icon:visited {
    fill: var(--color_gray-light);
  }

  .chat-icon-btn__icon:hover {
    fill: white;
  }

  .chat-icon-btn__icon:focus,
  .chat-icon-btn__icon:active {
    fill: var(--color_gray);
  }
}
