.navbar {
  display: inline-flex;

  padding: var(--spacing_sm);
  background-color: var(--color_charcoal-100);
  border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
}

.navbar__item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  list-style-type: none;
  background-color: none;
  border-radius: 0.7rem;
  padding: 0.2rem 0.7rem;
}

.navbar__item a:link,
.navbar__item a:visited,
.navbar__item a:hover,
.navbar__item a:active,
.navbar__item a:focus {
  color: white;
}

.navbar__item svg {
  width: auto;
  height: 1.2rem;
}

.active {
  background-color: var(--color_charcoal-70);
}
