/*
 * Global vars
 */

:root {
  /*
   * Typography
   */

  /* font-family 
  (Open Sans is added via Google Fonts as a web font in index.html header( */
  --font-stack_sans: "Open Sans", Helvetica, Arial, Tahoma, Verdana, sans-serif;

  --font-size_root: 15px;
  --font-size_xs: 0.7rem;
  --font-size_sm: 0.87rem;
  --font-size_lg: 1.2rem;
  --font-size_xl: 1.4rem;

  --font-size_h1: 3.052rem;
  --font-size_h2: 2.441rem;
  --font-size_h3: 1.953rem;
  --font-size_h4: 1.563rem;
  --font-size_h5: 1.25rem;
  --font-size_h6: 1rem;

  --line-height_xs: 1.1;
  --line-height_sm: 1.3;
  --line-height_md: 1.5;
  --line-height_lg: 1.7;
  --line-height_xl: 1.9;
  --line-height_xxl: 2.1;

  /* 
   * Colors 
   */

  --color_black-100: #000000;
  --color_black-80: #4d4d4d;
  --color_black-60: #666666;
  --color_black-50: #999999;
  --color_black-40: #b3b3b3;
  --color_black-30: #cccccc;
  --color_black-20: #e6e6e6;
  --color_black-10: #f2f2f2;

  --color_charcoal-100: #141b1f;
  --color_charcoal-90: #1f282e;
  --color_charcoal-80: #33434d;
  --color_charcoal-70: #3d505c;
  --color_charcoal-60: #5c778a;
  --color_charcoal-50: #859dad;
  --color_charcoal-40: #a3b6c2;
  --color_charcoal-30: #c2ced6;
  --color_charcoal-20: #e0e7eb;
  --color_charcoal-10: #f0f3f5;

  --color_blue-60: #0083e2;
  --color_blue-40: #66bfff;
  --color_blue-30: #b3dfff;
  --color_blue-20: #cce9ff;
  --color_blue-10: #e6f4ff;

  --color_green-80: #2e5016;
  --color_green-50: #5ca02c;
  --color_green-20: #d5efc3;
  --color_green-10: #f1faeb;

  --color_yellow-70: #996600;
  --color_yellow-50: #ffaa00;
  --color_yellow-20: #ffd480;
  --color_yellow-10: #ffeecc;

  --color_red-60: #cc0000;
  --color_red-50: #e60000;
  --color_red-40: #ff2a2a;
  --color_red-30: #ff9999;
  --color_red-20: #ffcccc;
  --color_red-10: #ffe6e6;

  --color_brand: var(--color_red-50);
  --color_text-primary: var(--color_charcoal-90);
  --color_link: var(--color_blue-60);

  --color_success: var(--color_green-50);
  --color_warning: var(--color_yellow-50);
  --color_danger: var(--color_red-40);
  --color_info: var(--color_blue-60);
  --color_disabled: var(--color_black-30);

  /* */

  --form__box-shadow_state_initial: 0 0 0 0.2rem hsl(0, 0, 88%);
  --form__border_state_initial: 1px solid var(--color_gray);

  --form__box-shadow_state_success: 0 0 0 0.2rem #4caf50;
  --form__border_state_success: 1px solid var(--color_success);

  --form__box-shadow_state_danger: 0 0 0 0.2rem #f26b6b;
  --form__border_state_danger: 1px solid var(--color_danger);

  /* 
   * Media quaries 
   */

  --screen-xs: 360px;

  /* 
   * Z-indexes 
   */

  --zindex-dropdown: 1000;
  --zindex-sticky: 1020;
  --zindex-fixed: 1030;
  --zindex-modal-backdrop: 1040;
  --zindex-modal: 1050;
  --zindex-popover: 1060;
  --zindex-tooltip: 1070;

  /* 
   * Misc
   */

  --border_radius_m: 9px;
  --border_radius_xxl: 20px;

  --spacing_xxs: 0.25rem;
  --spacing_xs: 0.5rem;
  --spacing_sm: 1rem;
  --spacing_m: 1.5rem;
  --spacing_ml: 2rem;
  --spacing_l: 3rem;
  --spacing_xl: 4rem;
  --spacing_xxl: 6rem;
  --spacing_xxxl: 8rem;

  --max-width_m: 620px;
  --max-width_xl: 1500px;
}

/*
 *
 */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 300px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size_h1);
  line-height: var(--line-height_xxl);
}

h2 {
  font-size: var(--font-size_h2);
  line-height: var(--line-height_xl);
}

h3 {
  font-size: var(--font-size_h3);
  line-height: var(--line-height_lg);
}

h4 {
  font-size: var(--font-size_h4);
  line-height: var(--line-height_md);
}

h5 {
  font-size: var(--font-size_h5);
  line-height: var(--line-height_sm);
}

h6 {
  font-size: var(--font-size_h6);
  line-height: var(--line-height_xs);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*
 * Global classes
 */

/* Layout */

.layout {
  height: 100%;

  font-size: var(--font-size_root);

  scroll-behavior: smooth;
  background-attachment: fixed;
}

.layout__body {
  position: relative;
  min-height: 100%;
  width: 100%;

  margin: 0 auto;

  font-family: var(--font-stack_sans);
  color: var(--color_text-primary);
  line-height: 1.5;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_ml);
  align-items: center;
  width: 100%;
  height: 100%;
}

.page-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: var(--max-width_m);

  border-radius: var(--border_radius_xxl);
  margin: var(--spacing_xxl) 0 var(--spacing_m) 0;
  padding: var(--spacing_xs) var(--spacing_sm) var(--spacing_sm)
    var(--spacing_sm);
  background-color: white;
}
@media (max-width: 620px) {
  .page-box {
    border-radius: 0 0 var(--border_radius_xxl) var(--border_radius_xxl);
    margin: var(--spacing_l) 0 var(--spacing_m) 0;
    padding: var(--spacing_m) 12px var(--spacing_sm) 12px;
  }
}

.page-box_streams {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: var(--max-width_m);

  border-radius: var(--border_radius_xxl);
  margin: var(--spacing_xxl) 0 var(--spacing_m) 0;
  padding: var(--spacing_xs) 0 var(--spacing_sm) 0;
  background-color: white;
}
@media (max-width: 620px) {
  .page-box_streams {
    border-radius: 0;
    margin: var(--spacing_l) 0 var(--spacing_m) 0;
    padding: var(--spacing_m) 0 var(--spacing_sm) 0;
  }
}

.page-box__heading {
  padding-bottom: var(--spacing_m);
}

/* 
 * Link
 */

.link {
  color: var(--color_blue-60);
  text-decoration: none;
}

.link:visited {
  color: var(--color_blue-60);
}

.link:hover {
  color: var(--color_blue-60);
  text-decoration: none;
}

.link:focus {
  color: var(--color_blue-60);
  text-decoration: none;
  outline: none;
}

.link:active {
  color: var(--color_blue-40);
}

/* 
 * Inputs
 */

.textarea-input {
  border: none;
  background-color: var(--color_charcoal-10);
  color: var(--color_charcoal-100);
  padding: 0.4rem 0.8rem;
  outline-color: var(--color_charcoal-40);
  min-width: 7rem;
  height: var(--spacing_xxl);
  border-radius: var(--border_radius_m);
}

.text-input {
  border: none;
  background-color: var(--color_charcoal-10);
  color: var(--color_charcoal-100);
  outline-color: var(--color_charcoal-40);
  padding: 0.4rem 0.8rem;
  min-width: 7rem;
  width: 100%;
  height: 2.6rem;
  border-radius: var(--border_radius_m);
}

/*
 * Form layout
 */

.form {
  display: grid;
  grid-template-rows: repeat(3, auto);

  width: 100%;
}

/* single input field + label tag */
.form__group {
}

.form_layout_col {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_sm);
}

.form__layout_text-input {
  display: grid;
  grid-template-areas: "label input";
  grid-template-columns: minmax(7rem, 25rem) minmax(50%, 1fr);
  justify-content: space-between;
  align-items: center;
  row-gap: var(--spacing_xs);
  column-gap: var(--spacing_ml);
}
@media (max-width: 330px) {
  .form__layout_text-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "label"
      "input";
    row-gap: var(--spacing_xs);
    column-gap: var(--spacing_sm);
  }
}

.form__layout_text-input_1col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "input";
  row-gap: var(--spacing_xs);
  column-gap: var(--spacing_sm);
}

.form__layout_textarea-input {
  display: grid;
  grid-template-areas:
    "label"
    "input";
  align-items: flex-start;
  width: 100%;
  row-gap: var(--spacing_xs);
  column-gap: var(--spacing_sm);
}

.form__layout_checkbox-input {
  display: grid;
  grid-template-areas: "name checkbox";
  grid-template-columns: minmax(80%, 0.7rem) minmax(auto, 3rem);
  row-gap: var(--spacing_xs);
  column-gap: var(--spacing_sm);
}

.form__layout_nested-rows {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_xxs);
}

@media (max-width: 330px) {
  .form__layout_nested-rows {
    row-gap: 0;
  }
}

/* Form states and elements */

.form__text_success {
  text-align: right;
  color: var(--color_success);
}

.form__text_error {
  text-align: right;
  color: var(--color_danger);
}

.form__btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form__input-tip {
  color: var(--color_charcoal-50);
  font-size: var(--font-size_sm);
  letter-spacing: 0.015rem;
}

.form__label {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0;

  max-width: 100%;
}

.form__input-details {
  font-size: var(--font-size_sm);
  color: var(--color_charcoal-50);
  justify-self: flex-start;
}

/* Common styles */

.text-input:focus,
.textarea-input:focus {
  background-color: var(--color_charcoal-20);
  outline: none;
}

.text-input::placeholder,
.textarea-input::placeholder {
  color: var(--color_charcoal-50);
}

/*
 * Misc
 */

.hr {
  height: 1px;
  background: var(--color_charcoal-20);
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.items-list {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));

  justify-content: center;

  column-gap: 1rem;
  row-gap: 1rem;
}

.default-icon {
  box-sizing: border-box;
  margin: 0;
  /* Paths and strokes that overflow the viewBox can show in IE11. */
  overflow: hidden;
  transition:
    fill 0.2s ease,
    background-color 0.2s ease;
  outline: none;
  cursor: pointer;
}

/* 
 * Typography
 */

.small-text {
  font-size: var(--font-size_sm);
  letter-spacing: 0.02rem;
}

/*
 * Popup menus
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup {
  position: absolute;
  display: none;

  opacity: 0;
  z-index: var(--zindex-dropdown);
}
.popup_open {
  display: block;
  border-radius: var(--border_radius_xxl);
  animation: fadeIn 0.2s forwards;
}
