.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  row-gap: var(--spacing_m);

  min-width: 290px;
  list-style-type: none;

  color: var(--color_charcoal-60);
}

@media (max-width: 500px) {
  .menu {
    width: 100%;
  }
}

.menu__item {
  font-size: var(--font-size_xl);
}

.menu__extras {
  border-bottom: none;

  font-size: var(--font-size_l);
}

.menu__item_small {
  font-size: var(--font-size_l);
}

.menu__link {
  display: flex;
  grid-template-areas: "Icon Text";
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  color: var(--color_charcoal-60);

  line-height: 1;
}

.menu__link:visited {
  color: var(--color_charcoal-60);
}
.menu__link:hover {
  color: var(--color_charcoal-100);
  text-decoration: none;
}
.menu__link:focus {
  color: var(--color_charcoal-60);
  text-decoration: none;
  outline: none;
}
.menu__link:active {
  color: var(--color_charcoal-60);
}

.menu__user-box {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_sm);

  padding: var(--spacing_xs);
  border-radius: var(--border_radius_m);
  cursor: pointer;
  margin: 0 -0.5rem;
  width: calc(100% + 1rem);

  font-size: var(--font-size_root);
}

.menu__user-box:hover {
  background-color: var(--color_charcoal-10);
}

.menu__user-meta-box {
  display: flex;
  flex-flow: column nowrap;

  color: var(--color_charcoal-100);
}

.menu__username {
  font-weight: 600;
}

.menu__tip-link {
  font-size: var(--font-size_sm);
  color: var(--color_charcoal-60);
  text-decoration: none;
}
.menu__tip-link:visited {
  color: var(--color_charcoal-60);
}
.menu__tip-link:hover {
  color: var(--color_charcoal-60);
  text-decoration: none;
}
.menu__tip-link:focus {
  color: var(--color_charcoal-60);
  text-decoration: none;
  outline: none;
}
.menu__tip-link:active {
  color: var(--color_blue-40);
}

.menu__avatar {
  max-width: 38px;
}

.menu__icon {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}
