.navbar {
  position: fixed;
  z-index: var(--zindex-fixed);
  z-index: var(-zindex-popover);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: var(--navbar-h);

  border-radius: 0;
  padding: var(--spacing_xs) 0;
}

.navbar__logo {
  fill: white;
  height: 100%;
  width: auto;
  padding: 0.5rem;
}

.navbar__auth-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__wrapper {
  position: relative; /* */
  display: grid;
  grid-template-areas: "Link MenuBtn";
  column-gap: 2rem;
  width: 100%;
  max-width: var(--max-width_m);

  align-items: center;
  justify-self: center;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 620px) {
  .navbar__wrapper {
    padding: 0 var(--spacing_xs) 0 var(--spacing_sm);
  }
}

.navbar_dark {
  color: white;
  background-color: var(--color_charcoal-100);
}

.navbar__user {
  display: flex;
  column-gap: 0.5rem;
  color: white;
  align-items: center;
  column-gap: var(--spacing_sm);
  height: 100%;
  width: auto;
}

.navbar__avatar {
  height: 100%;
  max-height: 2rem;
}

.navbar__btn {
  border: none;
  padding: var(--spacing_xs);
  margin: 0;
  background-color: transparent;

  grid-area: MenuBtn;
}

.navbar__btn:focus {
  outline: none;
}

.navbar__btn:hover,
.navbar__btn:active {
  background-color: var(--color_charcoal-10);
}

.navbar_dark .navbar__btn:hover,
.navbar_dark .navbar__btn:active {
  background-color: var(--color_charcoal-80);
}

.navbar__menu-icon,
.navbar__user-profile-icon {
  height: 1.6rem;
  width: auto;
}

.navbar__menu {
  margin: var(--spacing_sm) var(--spacing_m) var(--spacing_m) var(--spacing_m);
  max-width: 100%;
}

@media (max-width: 500px) {
  .navbar__popup {
    display: flex;

    width: 100%;
    height: 100vh;
    top: var(--spacing_l);
    right: 0;

    box-shadow: none;
    border-radius: 0;
  }
}
