.account-page {
  background-color: var(--color_charcoal-10);
}

.account-page__btns {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 0.8rem;
  padding: 0 0.8rem 1rem 0.8rem;
  justify-items: flex-start;
}
