.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header_padded {
  padding: var(--spacing_m) var(--spacing_sm);
}

.header__counter {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.7rem;
  border-radius: var(--border_radius_xxl);
  background-color: var(--color_charcoal-40);

  color: white;
  font-weight: 600;
  font-size: var(--font-size_l);
}
