.stream-card {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_sm);

  background-color: white;
  margin: 0 -1rem 2.5rem -1rem;

  text-decoration: none;
  color: var(--color_charcoal-100);
}
.stream-card:visited {
  color: var(--color_charcoal-100);
}
.stream-card:hover {
  color: var(--color_charcoal-100);
  text-decoration: none;
}
.stream-card:focus {
  color: var(--color_charcoal-100);
  text-decoration: none;
  outline: none;
}
.stream-card:active {
  color: var(--color_charcoal-100);
}

.stream-card__details-box {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_sm);
  justify-content: space-between;

  padding: 0 var(--spacing_sm);
}

.stream-card__details {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_xs);

  color: var(--color_charcoal-100);
}

.stream-card__title {
  font-weight: 600;
  font-size: var(--font-size_l);
  line-height: 1.6;
}

.stream-card__bottom-btns {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_sm);
}

.stream-card__bottom-btn {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_xs);
  align-items: center;
}

.stream-card__small-icons {
  height: 100%;
  width: auto;
  fill: var(--color_charcoal-100);
}

.stream-card__devider {
  display: inline-block;
  padding: 0 var(--spacing_xs);
}

.stream-card__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stream-card__menu-btn {
  background-color: transparent;
  color: var(--color_charcoal-100);

  border: none;
  border-radius: 50%;
  padding: var(--spacing_xs);
  margin: 0;
  background-color: transparent;
}
.stream-card__menu-btn:hover,
.stream-card__menu-btn:active {
  background-color: var(--color_charcoal-10);
}

.stream-card__btn-icon {
  position: relative;
  width: 1.7rem;
  height: auto;
  fill: var(--color_charcoal-100);
}

/* Cover */

.stream-card__cover {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stream-card__photo {
  width: 100%;
  height: auto;
}

.stream-card__photo_scheduled {
  opacity: 0.5;
}

.stream-card__scheduled-icon-box {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: var(--spacing_sm);
  background-color: white;
}

.stream-card__scheduled-icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color_charcoal-100);
}

.stream-card__badge {
  position: absolute;
}

/* 
 * Menu
 */

.stream-card__menu {
  display: flex;
  flex-flow: column nowrap;

  width: auto;
  padding: var(--spacing_xs);
  box-shadow: 0 0 1rem var(--color_charcoal-20);

  list-style-type: none;
  text-wrap: nowrap;
}

.stream-card__menu-row {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_sm);
  align-items: center;

  border-radius: var(--border_radius_m);
  padding: var(--spacing_xs) var(--spacing_sm);
}
.stream-card__menu-row:hover {
  background-color: var(--color_charcoal-10);
}

.stream-card__menu-icon {
  height: 1.5rem;
  width: auto;

  fill: var(--color_charcoal-100);
}
