.warning {
  width: 100%;

  padding: var(--spacing_sm) 0 var(--spacing_sm) 0;
}

.warning__message {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_xs);

  border-radius: var(--border_radius_m);
  border: 1px solid var(--color_red-20);
  padding: var(--spacing_sm);

  color: var(--color_danger);
}

.warning__hide-btn {
  align-self: flex-end;
}
