.archive-page {
  display: flex;
  flex-flow: column nowrap;

  align-content: stretch;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &_list {
    display: grid;
    align-content: flex-start;
    padding-bottom: 1rem;
  }
}
