.accountForm {
  display: grid;
  grid-template-areas: "Row";
  padding: 1rem 0.8rem;
  row-gap: 0.8rem;
}

.detailsRow {
  display: grid;
  grid-template-areas: "Key Value";
  grid-template-columns: 9rem minmax(5rem, auto);
  justify-content: space-between;
  align-items: center;
}

.saveBtn {
  display: flex;
  justify-self: flex-end;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.text_success {
  text-align: right;
  color: var(--color_success);
}

.text_error {
  text-align: right;
  color: var(--color_danger);
}
