.player {
  overflow: hidden;

  grid-area: playerBody;
  display: grid;
  grid-template-areas:
    "title playBtn"
    "status playBtn";
  grid-template-columns: 1fr 4rem;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  align-items: center;
  column-gap: var(--spacing_m);
  row-gap: var(--spacing_xs);

  padding: var(--spacing_sm);
  padding-bottom: 3rem;
  background: var(--color_charcoal-100);
  width: 100%;
  max-width: 620px;
  height: auto;
  border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;

  color: white;
}

.player__title {
  overflow: hidden;

  grid-area: title;

  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size_l);
  font-weight: 600;
}

.player__play-btn {
  grid-area: playBtn;
}

/*
 * Streaming status 
 */

.player__status {
  grid-area: status;
  display: grid;
  grid-template-areas: "time . counter1 counter2";
  grid-template-columns: auto minmax(0, 1fr) auto auto;
  column-gap: var(--spacing_m);
  align-items: center;

  line-height: 0;
  font-size: var(--font-size_sm);
}

@media (max-width: 360px) {
  .player__status {
    column-gap: var(--spacing_sm);
  }
}

.player__time {
  grid-area: time;

  font-size: var(--font-size_sm);
}

/*
 * Stream statistics (time, counters)
 */

.player__counter {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 0.4rem;
  align-items: center;
  align-content: center;

  font-weight: 600;
  color: white;
}
/*
.player__counter_disabled {
  visibility: hidden;
}*/

.player__counter1 {
  grid-area: counter1;
}

.player__counter2 {
  grid-area: counter2;
}

.player__icon {
  height: 1.2rem;
  max-height: 100%;
  width: auto;

  pointer-events: none;
  fill: white;
}
