.player {
  overflow: auto;

  display: flex;
  flex-flow: column nowrap;

  color: white;
}

@media (max-width: 620px) {
  .player {
    border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
  }
}

/*
 * Header
 */

.player__header {
  overflow: hidden;

  grid-area: header;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  justify-content: space-between;

  background-size: contain;
  border-radius: var(--border_radius_xxl) var(--border_radius_xxl) 0 0;
  border: none;

  aspect-ratio: 1/1;
}

.player__controls-1 {
  grid-area: controls1;

  display: grid;
  grid-template-areas: "statusBadge . btn2 btn1";
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  column-gap: var(--spacing_sm);

  padding: var(--spacing_xs) var(--spacing_xs) var(--spacing_xs)
    var(--spacing_sm);
}

.player__status-badge {
  grid-area: statusBadge;
}

.player__btn {
  padding: var(--spacing_xs);
  border-radius: 1rem;

  cursor: pointer;
}
.player__btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.player__btn_chat {
  grid-area: btn1;
}

.player__btn_share {
  grid-area: btn2;
}

.player__btn-icon {
  max-height: 100%;
  height: 2.3rem;
  width: auto;

  fill: white;
}

.player__controls-2 {
  grid-area: controls2;

  margin-bottom: -2.5rem;
}

/*
 * About 
 */

.player__about-stream {
  grid-area: aboutStream;

  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;

  background-color: var(--color_charcoal-100);
}

.player__about-stream p:first-child {
  padding-top: var(--spacing_sm);
}
.player__about-stream p {
  padding-left: var(--spacing_sm);
  padding-right: var(--spacing_sm);
}
.player__about-stream p:last-child {
  padding-bottom: var(--spacing_sm);
}
.player__about-stream p:not(:last-child) {
  margin-bottom: 1rem;
}

.player__about p:not(:first-child) {
  margin-top: 1rem;
}
