.nested-layout {
  margin: var(--spacing_xl) 0 var(--spacing_m) 0;
}
@media (max-width: 620px) {
  .nested-layout {
    margin-top: var(--spacing_l);
  }
}

.nested-layout__page-content {
  border-radius: 0 0 var(--border_radius_xxl) var(--border_radius_xxl);

  background: #141b1f;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(20, 27, 31, 1) 80%
  );
}
