.streams-page {
  background-color: var(--color_charcoal-10);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.streams-page__empty-icon {
  height: auto;
  width: 8rem;
  fill: var(--color_charcoal-30);
  align-items: center;
}

.streams-page__empty-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_sm);
  max-width: 15rem;
  justify-self: center;
  align-self: center;
  align-items: center;
  text-align: center;

  color: var(--color_charcoal-50);
  padding: var(--spacing_l) 0;
}

.streams-page__header-box {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_m);

  padding: 0 var(--spacing_sm) var(--spacing_sm) var(--spacing_sm);
}

.streams-page__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.stream-page__header_padded {
  padding: var(--spacing_m) var(--spacing_sm);
}

.streams-page__counter {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.7rem;
  border-radius: var(--border_radius_xxl);
  color: white;
  font-weight: 600;
  font-size: var(--font-size_lg);
  background-color: var(--color_charcoal-40);
}
