.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--color_charcoal-10);
  padding: 0 0.4rem 0 0.4rem;

  color: var(--color_charcoal-30);

  cursor: pointer;
  transition: background-color 0.2s;
}

.btn svg {
  height: 1.8rem;
  fill: var(--color_charcoal-30);
}

.btn:hover {
  background-color: white;
}

/*
 * Liked btn
 */

.btn_liked {
  background-color: var(--color_charcoal-10);
  font-size: var(--font-size_sm);
  color: var(--color_charcoal-60);
}
.btn_liked svg {
  height: 1.5rem;

  fill: var(--color_charcoal-60);
}

.btn_liked-by-me {
  background-color: var(--color_charcoal-10);
  font-size: var(--font-size_sm);
  color: var(--color_red-50);
}
.btn_liked-by-me svg {
  height: 1.5rem;

  fill: var(--color_red-50);
}
