.create-stream-form {
}

.create-stream-form label,
.create-stream-form label,
.create-stream-form label {
  font-weight: 600;
}

.create-stream-form__stream-artwork-box {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_sm);
}

.create-stream-form__stream-artwork-col2 {
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--spacing_xs);
}

.create-stream-form__empty-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;

  border-radius: var(--border_radius_m);
  background-color: var(--color_charcoal-10);
}

.create-stream-form__empty-photo-icon {
  fill: var(--color_charcoal-30);
  width: 35%;
  height: auto;
}

/* Time grid */

.create-stream-form__time-grid {
  display: grid;
  grid-template-areas:
    "time1 time2"
    "time3 time4"
    "timezoneTip timezoneTip";
  grid-template-columns: minmax(auto, 0.5fr) minmax(auto, 0.5fr);
  column-gap: var(--spacing_ml);
  row-gap: var(--spacing_sm);
}

.create-stream-form__time-grid_text-input {
  display: grid;
  grid-template-areas:
    "label"
    "input";
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--spacing_xs);
  column-gap: var(--spacing_sm);
}

/* Timezone tip */

.create-stream-form__timezone-tip {
  grid-area: timezoneTip;

  padding: var(--spacing_m) var(--spacing_ml);
  border-radius: var(--border_radius_m);
  background: #e6f4ff;
  background: linear-gradient(to right, var(--color_blue-10), white);
}

/* */

.create-stream-form__btns {
  display: grid;
  grid-template-areas: "btn1 . btn2 btn3";
  grid-template-columns: auto 1fr auto auto;
  column-gap: var(--spacing_sm);
}
