.chat-nested-layout {
  grid-template: auto auto auto 1fr auto;
  /* -1rem to simulate bottom padding : */
  height: calc(100vh - var(--spacing_xl) - 1rem);
}
@media (max-width: 620px) {
  .chat-nested-layout {
    height: calc(100vh - var(--spacing_xxl));
    border-radius: 0;
  }
}

.chat-nested-layout__navbar {
  grid-row: 1 / 2;
}
