.nested-layout {
  position: relative;
  /* to cut the not rounded corners of nested containers : */
  overflow: hidden;

  display: grid;

  width: 100%;
  max-width: var(--max-width_m);
  border-radius: var(--border_radius_xxl);
  margin-top: var(--spacing_xl);
}
@media (max-width: 620px) {
  .nested-layout {
    margin-top: var(--spacing_xxl);
  }
}
