.regular-nested-layout__content {
  background-color: white;
  border-radius: var(--border_radius_xxl);
  padding: var(--spacing_xs) var(--spacing_sm) var(--spacing_sm)
    var(--spacing_sm);

  transform: translate(0, -1.9rem);
}
@media (max-width: 620px) {
  .regular-nested-layout__content {
    margin-bottom: 0.5rem;

    transform: translate(0, +0.5rem);
  }
}
