.msgs-list {
  padding-bottom: var(--spacing_xs);
  background-color: white;
}

/* automatically scroll to bottom : */
.scroll-to {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 0;
  visibility: hidden;
}
