.auth-toggle {
  display: flex;
  flex-flow: column nowrap;
  min-width: 280px;
  max-width: 320px;

  width: 100%;
}

.auth-toggle__box {
  border-radius: var(--border_radius_blocks-primary);
}

.auth-toggle__header {
  margin: 0 auto;
  padding: var(--spacing_sm) 0;
  display: flex;
  flex-flow: row nowrap;
  grid-auto-flow: column;
  width: 100%;

  text-align: center;
  font-size: var(--font-size_h4);
  color: white;
  font-weight: bold;
}

.auth-toggle__header-link-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.auth-toggle__header-link-text {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.auth-toggle__header-link {
  background: transparent;
  font-weight: 600;
  font-size: var(--font-size_xl);
  text-decoration: none;
  color: var(--color_charcoal-100);
  padding: 0 1.5rem 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth-toggle__header-link_active {
  color: var(--color_charcoal-100);
  pointer-events: none;
}

.auth-toggle__header-link_active .auth-toggle__header-link-bg {
  height: 1rem;
  width: 7rem;
  background-color: var(--color_red-40);
  filter: blur(0.7rem);
  border-radius: 100%;
  transform: rotate(-15deg);
}
