@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.loader {
  display: inline-flex;
  border-radius: 50%;

  width: 1rem;
  height: 1rem;

  background-color: var(--color_charcoal-50);
}

.loader_blink {
  animation: blinker 0.7s ease-in-out infinite;
}

.loader_for_page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  align-self: center;
  display: block;

  margin: auto auto;
  padding: 3rem;
}

.loader_for_btn {
  align-items: center;
  justify-items: center;

  margin-top: 0.15rem;
  margin-left: 0.8rem;
}
