.menu {
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: var(--zindex-dropdown);
  min-width: 290px;
  display: none;
  list-style: none;

  background-color: white;
}

.menu__item:not(:first-child) {
  padding: 0 var(--spacing_xs);
}

.menu__item:nth-last-child(-n + 2) .menu__link {
  border-bottom: none;
  padding-bottom: 0;
}

.menu__item:last-child .menu__link {
  font-size: var(--font-size_lg);
}

.menu__link {
  display: flex;
  grid-template-areas: "Icon Text";
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;

  padding: var(--spacing_xs) 0;
  border-bottom: 1px solid var(--color_charcoal-30);
  text-decoration: none;
  color: var(--color_charcoal-60);
  line-height: 2.5;
}

.menu__link:visited {
  color: var(--color_charcoal-60);
}
.menu__link:hover {
  color: var(--color_charcoal-100);
  text-decoration: none;
}
.menu__link:focus {
  color: var(--color_charcoal-60);
  text-decoration: none;
  outline: none;
}
.menu__link:active {
  color: var(--color_charcoal-60);
}

.menu__user-box {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--spacing_xs);

  padding: var(--spacing_xs);
  border-radius: var(--border_radius_controls-primary);
  cursor: pointer;

  font-size: var(--font-size_root);
}

.menu__user-box:hover {
  background-color: var(--color_charcoal-10);
}

.menu__user-meta-box {
  display: flex;
  flex-flow: column nowrap;
}

.menu__username {
  font-weight: 600;
}

.menu__tip-link {
  font-size: var(--font-size_sm);
  color: var(--color_charcoal-60);
  text-decoration: none;
}
.menu__tip-link:visited {
  color: var(--color_charcoal-60);
}
.menu__tip-link:hover {
  color: var(--color_charcoal-60);
  text-decoration: none;
}
.menu__tip-link:focus {
  color: var(--color_charcoal-60);
  text-decoration: none;
  outline: none;
}
.menu__tip-link:active {
  color: var(--color_blue-40);
}

.menu__avatar {
  width: 100%;
  height: auto;
  max-width: 38px;

  fill: var(--color_charcoal-30);
}

.menu__icon {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

.menu_open {
  display: block;
  width: auto;
  padding: var(--spacing_m);

  border-radius: var(--border_radius_blocks-primary);
  box-shadow: 0 0 1rem var(--color_charcoal-20);
  background-color: white;
}
.menu_open li {
  font-size: var(--font-size_h4);
}

@media (max-width: 500px) {
  .menu_open {
    width: 100vw;
    height: 100vh;
    top: 4rem;
    right: 0;
    left: 0;
    box-shadow: none;
  }
}

/* React Router v6 adds this class automatically to currently active route */
.active {
  font-style: italic;
}
