.navbar {
  position: fixed;
  z-index: var(--zindex-fixed);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: var(--navbar-h);

  border-radius: 0;
  padding: var(--spacing_xs) 0;
}

.navbar__wrapper {
  position: relative; /* */
  display: grid;
  grid-template-areas: "Link MenuBtn";
  column-gap: 2rem;
  width: 100%;
  max-width: var(--max-width_m);

  align-items: center;
  justify-self: center;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 620px) {
  .navbar__wrapper {
    padding: 0 var(--spacing_xs) 0 var(--spacing_sm);
  }
}

.navbar_dark {
  color: white;
  background-color: var(--color_charcoal-100);
}

.navbar_light {
  color: var(--color_charcoal-100);
  background-color: white;
}

.navbar__user {
  display: flex;
  column-gap: 0.5rem;
  color: white;
}

.navbar__btn {
  border: none;
  padding: var(--spacing_xs);
  margin: 0;
  background-color: transparent;
}
.navbar__btn:hover,
.navbar__btn:active {
  background-color: var(--color_charcoal-10);
}

.navbar__menu-icon,
.navbar__user-profile-icon {
  height: 1.6rem;
  width: auto;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none;
  padding-left: 12px;
}
.navbar__logo svg {
  fill: var(--color_charcoal-100);
  height: 85%;
}
@media (max-width: 500px) {
  .navbar__logo svg {
    height: 75%;
  }
}
